*{
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --hi:rgb(125, 193, 170);
}
::selection{
    color: #fff;
    background:rgba(255, 192, 203, 0.802);
    font-weight: 500;
}
body{
    background-color: #e0e0e0;
}
.page{
    width: 100vw;
}
.main{
    background-color: rgb(125, 193, 170);
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    padding: 1vw 2vw;
    align-items: center;
    transition: all 1.3s;
}
.main h1 a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size:2.1vw;
}
.main>h1:nth-child(1) a{
    font-size: 3vw;
    font-weight: 800;
}
.main h1{
    transition: all 1.3s;
}
.main:hover{
    transform: skewX(40deg) scaleX(.9);
    border-radius: 2vw;
}
.main:hover h1{
    transform: skewX(-40deg) scale(1.1);
}
.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main-logo img{
    transition: all .7s;
    width: 15vw;
    height: auto;
}
.img-scroller{
    width: 100vw;
    min-height: max-content;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.img-scroller>img{
    background-color: #fff;
    background-size: cover;
    margin: 1vw;
    width: 50vw;
    height: 65vh;
    border-radius: 1vw;
    transition: all .7s;
}
.img-scroller img:hover{
   transform: scale(1.02,1.02);
   box-shadow: 2px 2px 10px .5px #8d8d8d;
}
.menu-index{
    display: flex;
    position: absolute;
    background-color: var(--hi);
    filter: opacity(.7);
    left: 0;
    width: 20vw;
    height: 70%;
    font-size: 2vw;
    margin: 1vw;
    border-radius: .7vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 6px 1px grey;
}
.menu-index>span{
    padding: .4vw;
    text-align: center;
    width: 100%;
    transition: all .7s;
}
.menu-index>span:hover{
    background-color: #fff;
    cursor: pointer;
    background-color:rgb(88, 242, 191);
}
.btn>button{
    padding: .4vw;
    background-color: #fff;
    border: 2px solid  rgb(113, 190, 163);
    border-radius: .7vw;
    transition: all 1.5s;
    width: 5vw;
    margin:0 1vw;
    transform-style: preserve-3d;
}
.btn button:hover{
    background-color: rgb(113, 190, 163);
    border:none;
}
.img-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 20vw;
    height: 65vh;
    background-color:transparent;
    right: 2vw;
    overflow: auto;
    border-radius: .1vw;
    margin-top: 1vw;
}
.img-list>img{
   width: 80%;
   height: 20vh;
   margin: .2vw;
   transform: scale(.7,.7);
   transition: all .7s;
   border-radius: 1vw;
}
#table{
    position: relative;
    text-align: center;
    background-color: #efefef;
    width: 100vw;
    padding: 1vw; 
    margin-top: 2vw;
}
#table span{
    font-size: 2vw;
    opacity: .6;
    font-weight: 800;
}
#table td{
    font-weight: 600;
    font-size: 1.3VW;
    color: rgb(33, 33, 33);
}
#table table,#table td{
    border: 1px solid rgb(189, 189, 189);
    opacity: .9;
}
#table table{
    display: flex;
    align-self: center;
    border-radius: .5vw;
    position: relative;
    margin-top: 1vw;
    border: 5px solid gray;
    box-shadow: 1px 2px 10px 2.5px grey;
}
#table table a{
    text-decoration: none;
    color: rgb(65, 136, 218);
}
#cursor{
    transition: all .07s;
    position:sticky;
    left: 0;
    width: 45px;
    height: 45px;
    opacity: .7;
    background-color: cornflowerblue;
    border-radius: 50%;
    opacity: 0;
    background-blend-mode: difference;
    transform: translate(-50%,-50%);
}
